.place__text {
  grid-area: paragraphs;
  max-height: 460px;
  row-gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) and (min-width: 780px) {
  .place__text {
    max-height: 340px;
  }
}

@media screen and (max-width: 779px) {
  .place__text {
    max-height: initial;
  }
}
