.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 24px;
}

@media screen and (max-width: 779px) {
  .cover {
    line-height: 14px;
  }
}
