.cover {
  width: 1184px;
  height: 740px;
  text-align: center;
  padding: 0;
  margin: 92px 0;

  /*Background Image*/
  /*Revisor si agrego background-image en el selector _overlay no se aplica la opacidad con color, 
  y utilizando opacity se comparte esta opacidad con los elementos hijos, por lo cual la mejor 
  solución que encontré es dejarlo aqui como esta.*/
  background-image: url(/images/cover__background.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1279px) {
  .cover {
    margin-top: 300px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 1184px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 779px) {
  .cover {
    width: 100%;
    height: 254px;
    margin: 64px 0;
  }
}
