.cover__overlay {
  width: 100%;
  height: 100%;
  /*Color #2A2C2F a rgb es 42,44,47*/
  background-color: rgba(42, 44, 47, 0.3); /*opacidad 0.3 color negro*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8); /*opacidad 0.8 color negro*/
  transition: background-color 0.1s linear 0.05s;
}
