.cover__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /*opacidad 0.3 color negro*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
